header div.nav-top {
    width: 100%;
}

header .panel {
    margin-bottom: 0px;
    background: #e0e0e0;
    color: #000000;
    border: 0px;
    box-shadow: 0px 0px 0px 0px;
}

header .panel a {
    color: #000;
    text-decoration: none;
}

header .logo {
    padding: 25px 0px 10px;
}

header .logo .glyphicon {
    font-size: 2.3em;
    position: static;
    line-height: 1.2;
}

header .logo p a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
}

header .logo i {
    font-size: 14px;
    width: 30px;
    height: 30px;
    padding: 4px;
    background: rgb(241, 239, 239);
    border-radius: 50%;
    box-sizing: content-box;
    text-align: center;
    line-height: 30px;
    color: rgb(99, 92, 92);
}

header .logo i:hover {
    color: #fff;
}


/* search icon start */

header .nav-top .navbar-header .btn:first-child {
    color: #968a8a;
    background: transparent;
    font-size: 20px;
    position: absolute;
    top: 23px;
    right: 60px;
}

header .nav-top .navbar-right .btn:first-child {
    color: #fff;
    background: transparent;
    font-size: 20px;
    padding-top: 10px;
}

.btn:active:focus,
.btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    box-shadow: inset 0 0px 0px;
}

header .nav-top .navbar-header .modal {
    padding-top: 12%;
    background-color: rgb(0, 0, 0, 0.8);
}

header .nav-top .navbar-header .modal-content {
    background-color: #fff0;
    border: 0px;
    -webkit-box-shadow: 0 0px 0px;
    box-shadow: 0 0px 0px;
}

.modal-header {
    border-bottom: 0px;
}

.modal-header .close {
    color: white;
    opacity: 1;
}

header .nav-top .navbar-header .modal-content .input-group {
    margin: -15px 0px 17px;
    width: 100%;
}

header .nav-top .navbar-header .modal-content input {
    padding: 27px 20px;
    border-radius: 2px;
}

.form-control:focus {
    border-color: #66afe900;
    outline: 0;
}

header .nav-top .navbar-header .modal-content p {
    color: white;
    font-size: 18px;
}


/* search icon end */

@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        animation: anmi-up 0.7s;
    }
    @keyframes anmi-up {
        from {
            top: 200%;
            opacity: 0;
        }
        to {
            top: 100%;
            opacity: 1;
        }
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
        animation: anmi-up2 0.7s;
    }
    @keyframes anmi-up2 {
        from {
            top: 200%;
            opacity: 0;
        }
        to {
            top: -12%;
            opacity: 1;
        }
    }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    padding: 10px 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}

.nav>li>a {
    padding: 10px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #ffffff00;
}

header .navbar .dropdown-menu>li>a,
header .navbar-left .feature-menu li a,
.dropdown-menu2 li a {
    padding: 10px 0px;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

header .navbar .dropdown-menu>li,
header .navbar-left .feature-menu li {
    width: 210px;
    margin: 0px 13px;
    border-bottom: 1px solid gainsboro;
}

header .navbar-left .feature-menu li {
    margin: 25px 0px -6px;
    padding-bottom: 10px;
    width: 100%;
}

header .navbar .dropdown-menu>li:last-child,
header .navbar-left .feature-menu li:last-child,
.dropdown-menu2 li:last-child {
    border-bottom: 0px;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

header .navbar-left .feature-menu {
    left: -122%;
    padding: 15px 20px 0px;
}

.dropdown2 {
    position: relative;
}

.dropdown-menu2 {
    display: none;
    width: 100%;
    top: -12%;
    position: absolute;
    left: 100%;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu2 li {
    padding: 10px;
    padding-top: 15px;
    border-bottom: 1px solid gainsboro;
}

.dropdown2:hover>.dropdown-menu2 {
    display: block;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

header .navbar .dropdown-menu>li>a:hover,
header .navbar-left .feature-menu li a:hover,
.dropdown-menu2 li a:hover {
    background-color: transparent;
}

.navbar-right {
    margin-right: 0px;
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

.about-pic {
    background-image: url(about-pic.jpg);
    background-size: cover;
}

.about-pic .h1 {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-weight: bold;
    padding: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.breadcrumb {
    background-color: #fff;
    padding: 35px 0px;
    border-bottom: 2px solid gainsboro;
    border-radius: 0px;
    font-size: 17px;
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #000;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
}

main .about-sec-2 {
    margin: 50px 0px;
    width: 100%;
}

main .about-sec-2 .bg-pic {
    background-image: url(about-img1.jpg);
    background-size: cover;
    padding: 50px 30px 300px;
}

main .about-sec-2 h2 {
    font-weight: bold;
}

main .about-sec-2 p {
    font-size: 19px;
    margin: 20px 0px 10px;
}

main .about-sec-2 .btn {
    background: transparent;
    border: 2px solid;
    transition: 0.5s;
}

main .about-sec-2 .btn:active:focus,
main .about-sec-2 .btn:hover {
    background: transparent;
    border: 2px solid rgb(100, 92, 92);
    color: rgb(100, 92, 92);
}

main .about-sec-2 .glyphicon {
    font-size: 12px;
}

main .about-sec-3 {
    margin-bottom: 40px;
}

main .about-sec-3 h3 {
    font-weight: bold;
}

main .about-sec-3 p {
    line-height: 1.6;
    font-size: 16px;
}

main .about-sec-3 p.last {
    background: gainsboro;
    padding: 25px;
    border-radius: 6px;
}

main .about-sec-4 .vedio {
    margin-bottom: 20px;
}

main .about-sec-4 h3,
main .about-sec-4 a {
    text-decoration: none;
    font-weight: bold;
}

main .about-sec-4 h3 {
    margin-top: 0px;
}

main .about-sec-4 .panel-default>.panel-heading,
main .about-sec-4 .panel {
    background-color: #fff;
    border: 0px;
}

main .about-sec-4 .panel {
    border: 2px solid #ddd;
}

main .about-sec-4 .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 2px solid blue;
    margin: 10px 20px;
    padding: 13px 0px;
    font-size: 17px;
    line-height: 1.5;
}

main .about-sec-5 .help {
    background-color: #000;
    padding: 70px 10px 80px;
    margin: 30px 0px;
    color: #fff;
    border-radius: 4px;
}

main .about-sec-5 h3 {
    font-weight: bold;
    margin-top: -5px;
}

main .about-sec-5 p {
    font-size: 17px;
    margin-bottom: 10px;
}

main .about-sec-5 .btn {
    background: transparent;
    border: 2px solid #fff;
    transition: 0.5s;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
}

main .about-sec-5 .btn:active:focus,
main .about-sec-5 .btn:hover {
    background: transparent;
    border: 2px solid rgb(100, 92, 92);
    color: rgb(100, 92, 92);
}

main .about-sec-5 .glyphicon {
    font-size: 10px;
}

main .sec-8 {
    color: #fff;
    padding: 20px 0px;
}

main .sec-8 .glyphicon {
    color: white;
    background: rgba(202, 156, 156, 0.14);
    padding: 30px;
    font-size: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    transition: 0.5s;
}

main .sec-8 div.con {
    padding: 8px 10px;
}

main .sec-8 div.con:hover .glyphicon {
    background-color: rgba(225, 225, 225, 0.14);
}

main .sec-8 h5 {
    margin-top: 25px;
}

footer {
    background-color: #222222;
    color: rgb(126, 115, 115);
}

footer .conc {
    padding: 50px 0px 0px;
    border-bottom: 1px solid;
}

footer img {
    padding-top: 10px;
    width: 33%;
    margin-bottom: 14%;
    margin-top: 4%;
}

footer .glyphicon {
    top: 3px;
    padding-right: 10px;
}

footer p.lead {
    font-size: 16px;
}

footer p.lead:first-child {
    padding-bottom: 20px;
}

footer a {
    color: rgb(226, 213, 213);
    font-size: 16px;
    transition: 0.5s;
}

footer a:hover,
footer a:focus {
    color: rgb(126, 115, 115);
    text-decoration: none;
}

footer h2 {
    color: #fff;
    border-bottom: 1px solid rgb(167, 160, 160, 0.5);
    width: 28%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 10%;
    font-size: 25px;
    font-weight: bold;
}

footer h2:last-child {
    width: 37%;
}

footer li {
    float: left;
    width: 50%;
    padding: 10px 0px;
}

footer .subscribe h2 {
    width: 37%;
}

footer .subscribe .glyphicon {
    top: 46px;
    padding: 15px;
    border-radius: 4px;
    float: right;
    color: #fff;
}

div.sub-gly {
    margin-top: -30px;
}

footer .subscribe .form-control {
    border-radius: 4px;
}

footer .subscribe p {
    border-bottom: 1px solid rgb(167, 160, 160, 0.5);
    width: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
}

footer .subscribe .fab {
    width: 35px;
}

footer .copyright li {
    width: 28%;
    padding: 0px;
}

footer .copyright li:first-child {
    width: 35%;
}

footer .copyright {
    border-top: 1px solid;
    padding: 25px 0px;
    margin-top: 29px;
}

footer .copyright p.lead {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

footer div.up {
    position: fixed;
    right: 3%;
    bottom: 3%;
    padding: 10px;
    border-radius: 2px;
    display: none;
    cursor: pointer;
    z-index: 99;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14);
}

footer div.up .glyphicon {
    padding: 0px;
    color: #fff;
    width: 20px;
    text-align: center;
}

aside {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -100%;
    background: #fff;
    z-index: 99999;
    overflow: auto;
}

aside>i:first-child {
    font-size: 30px;
    padding: 20px;
    color: #000;
    margin-bottom: 50px;
    cursor: pointer;
}

aside .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px;
    box-shadow: 0 0px 0px;
    border-bottom: 1px solid gainsboro;
    border-radius: 0px;
    width: 90%;
    margin-left: 10px;
}

aside .panel-group .panel {
    border-radius: 0px;
}

aside .panel-default>.panel-heading {
    background-color: transparent;
    margin-left: -15px;
}

aside .panel-heading .glyphicon {
    font-size: 10px;
    color: #696868;
}

.panel-title>.small,
.panel-title>.small>a,
.panel-title>a,
.panel-title>small,
.panel-title>small>a {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    font-size: 15px;
}

aside .panel-body {
    margin-left: 10px;
    padding: 0px;
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px;
}

aside .nested-panel {
    border-bottom: 0px;
    width: 100%;
    margin-left: 0px;
}

aside .panel-body li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    width: 100%;
}

aside .panel li {
    padding: 10px 0px;
    border-bottom: 1px solid gainsboro;
}

aside .panel li:last-child {
    border-bottom: 0px;
}

aside .contact .glyphicon {
    font-size: 35px;
    padding: 0px 11px;
    top: 5px;
}

aside .contact h5 {
    font-size: 15px;
    font-weight: bold;
}

aside .contact h4 {
    font-size: 15px;
}

aside .contact h4 a {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    transition: 0.5s;
}

aside .social i {
    font-size: 17px;
    width: 30px;
    height: 30px;
    padding: 6px;
    background: rgb(241, 239, 239);
    border-radius: 50%;
    box-sizing: content-box;
    text-align: center;
    line-height: 30px;
    margin: 30px 0px 10px 10px;
}

aside .social i:hover {
    color: #fff;
}

@media (max-width: 992px) {
    header .navbar-default {
        background-color: #fff;
    }
    .navbar-toggle .icon-bar+.icon-bar,
    .navbar-toggle .icon-bar {
        margin-top: 6px;
        width: 35px;
        height: 3px;
    }
    .navbar-default .navbar-toggle {
        margin-top: 18px;
        border-color: transparent;
    }
    .navbar-toggle {
        border: 0px;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    footer .copyright,
    main .about-sec-5 {
        text-align: center;
    }
}

.color-tool {
    position: fixed;
    right: 0;
    height: 100%;
    background-color: #fff;
    top: 0px;
    width: 300px;
    z-index: 99999;
    padding: 125px 22px;
    transition: 0.5s;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14);
}

.color-tool .cog-div {
    font-size: 18px;
    background-color: #fff;
    position: absolute;
    top: 33%;
    left: -13%;
    width: 40px;
    height: 36px;
    padding: 7px;
    cursor: pointer;
    box-shadow: -1px 2px 0px 0px rgba(0, 0, 0, 0.14);
}

.color-tool .color-list li {
    width: 60px;
    height: 25px;
    float: left;
    margin: 2px;
    cursor: pointer;
}

.color-tool h4 {
    font-weight: bold;
}

.color-tool h5 {
    font-size: 17px;
}

.pos {
    right: -300px;
}